body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 40px;
    background: #111;
    color: white;
}

nav {
    text-align: center;
    background: #222;
    padding: 10px;
}
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.project {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
    margin-top: 30px;
}
